rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    /**
     * @description Controls access to the shared sensory maps.
     *              These maps are publicly readable to allow for the 'share'
     *              functionality, but creating new maps is allowed for any user
     *              as the app does not have a user authentication system for writes.
     * @path /sensoryMaps/{mapId}
     * @allow (get, list) Anyone can read the maps.
     * @allow (create) Anyone can create a new map.
     * @deny (update, delete) No one can update or delete maps from the client.
     */
    match /sensoryMaps/{mapId} {
      allow get, list: if true;
      allow create: if true;
      allow update, delete: if false;
    }

    // Default deny all other collections
    match /{path=**} {
      allow read, write: if false;
    }
  }
}
