@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 17% 98%;
    --foreground: 215 57% 23%;
    --card: 0 0% 100%;
    --card-foreground: 215 57% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 57% 23%;
    --primary: 215 57% 23%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 13% 85%;
    --secondary-foreground: 215 57% 23%;
    --muted: 0 13% 85%;
    --muted-foreground: 214 10% 40%;
    --accent: 10 88% 64%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 40 5% 85%;
    --input: 40 5% 85%;
    --ring: 221 78% 50%;
    --radius: 1rem;
  }
  .dark {
    --background: 215 57% 23%;
    --foreground: 0 0% 100%;
    --card: 214 41% 31%;
    --card-foreground: 0 0% 100%;
    --popover: 214 41% 31%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 0% 100%;
    --primary-foreground: 215 57% 23%;
    --secondary: 213 22% 56%;
    --secondary-foreground: 215 57% 23%;
    --muted: 213 22% 56%;
    --muted-foreground: 0 0% 100%;
    --accent: 10 88% 64%;
    --accent-foreground: 215 57% 23%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 213 22% 56%;
    --input: 213 22% 56%;
    --ring: 10 88% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    line-height: 1.5;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
    font-weight: 600;
  }
}
